@{
    ViewData["Title"] = "Privacy Policy";
}
<link href="~/css/Login.css" rel="stylesheet" type="text/css" />

<div class="agrupamento">
    <h1 class="titulo">Entrar na <br /> EcoOcean</h1>
    <a class="link">Criar nova conta</a>
</div>


